/* SELETTORE {
    proprietà: valore;
    proprietà: valore;
{}
}*/

/* Immagine di sfondo*/
body  {
    background-image: url("https://primabergamo.it/media/2023/09/Lime-monopattini-elettrici-parigi-1024x576-1.jpg");
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Content {
    background: rgba(0, 0, 0, 0.644);
    padding: 5%;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 2%;
}
/*Header*/
.Logo {
    width: 20%;
}
header {
    text-align: center;
}
h1{
    color: rgb(0, 216, 0);
    margin: 3px;
}
/*Barra di Navigazione*/
nav {
    background-color: rgb(0,216,0);
    text-align: center;
    padding: 10px;
}
/*Monopattini disponibili*/
div>h3 {
    display: inline-block;
    margin-bottom: 5px;
    font-size: x-large;
}
.Indirizzo{
    margin-bottom: 4px;
}
.Box{
    margin-bottom: 0px ;
}
.Monopattino {
    color: white;
    margin-top: 10px;
}
/*Barre di Carica*/
#Carica1 {
    background-color: darkgoldenrod;
    width: 30%;
}
#Carica2 {
    background-color: rgb(0, 192, 0);
    width: 50%;
}
#Carica3 {
    background-color: rgb(199, 48, 48);
    width: 10%;
}
